@font-face {
    font-family: 'CrabSalad';
    src: url(../src/CrabSalad.woff);
}

body {
    margin: 0;
    min-height: 100vh;
}

.nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 25px 100px 25px 100px;
    display: grid;
    grid-template-columns: 140px repeat(3,80px) 1fr;
    column-gap: 40px;
    text-align: center;
    align-items: center;
    font-family: 'CrabSalad';
}

.logo {
    grid-area: 1;
    font-size: 55px;
    color: whitesmoke;
    font-weight: bold;
}

.nav-bar:nth-child(1) {
    grid-area: 1/2;
    font-size: 40px;
    color: whitesmoke;
}

/*Footer*/

.footer {
    background-color: rgb(133, 14, 14);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.footer > div {
    color: whitesmoke;
}

.footer > :first-child {
    font-size: 24px;
}

.footer > :nth-child(2) {
    font-size: 18px;
}
/*Home Page*/

.banner {
    height: 670px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    box-shadow: 0px 7px 5px grey;
}

.search-wrapper {
    grid-area: 1;
    display: grid;
    grid-template-rows: repeat(3, 70px);
    margin-top: 90px;
    margin-right: 40px;
    align-items: center;
    text-align: center;
}

.search-wrapper > div {
    grid-area: 1;
    font-size: 42px;
}

.search-wrapper > input {
    grid-area: 2;
    height: 50px;
    width: 420px;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    justify-self: center;
    font-size: 25px;
}

.search-wrapper > button {
    grid-area: 3;
    height: 50px;
    width: 200px;
    justify-self: center;
    background-color: red;
    border-radius: 15px;
    border-style: none;
    font-size: 30px;
    color: whitesmoke;
}

.sub-wrapper {
    padding: 40px 150px 60px 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    box-shadow: 0px -7px 7px  grey inset;
}

.sub-wrapper > :first-child {
    grid-area: 1;
    display: grid;
    grid-template: repeat(2,260px)/repeat(2,260px);
    padding: 30px;
}

.sub-wrapper > :first-child > img {
    height: 300px;
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
}

.sub-wrapper > :first-child > :not(:first-child) {
    grid-area: 2/2;
}

.sub-wrapper > :not(:first-child) {
    grid-area: 1/2;
    text-align: center;
}

.sub-wrapper > :not(:first-child) > :first-child {
    font-size: 40px;
    font-family: 'CrabSalad';
}

.sub-wrapper > :not(:first-child) > :not(:first-child) {
    margin-top: 30px;
    font-size: 30px;
}
 
.favorites-wrapper {
    padding: 100px;
    text-align: center;
    display: grid;
    grid-template: 50px 1fr/ repeat(3,1fr);
    row-gap: 50px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'CrabSalad';
}

.favorites-wrapper > :first-child {
    grid-area: 1/2;
    font-size: 50px;
    font-family: 'CrabSalad';
}

.favorites-wrapper > :not(:first-child) > img {
    height: 350px;
    width: 350px;
    border: 3px solid black;
    border-radius: 15px;
}

.favorites-wrapper > :not(:first-child) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    font-size: 45px;
}

.favorite-one {
    grid-area: 2/1;

}

.favorite-two {
    grid-area: 2/2;
}

.favorite-three {
    grid-area: 2/3;
}


/*Pseudo-classes*/

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}